# Follow Up Boss API Configuration
FOLLOW_UP_BOSS_API_KEY=fka_0N4mnNODqvIKx7eE1oGoXyldRpk0eEgKgO

# Cloudinary Configuration (if using environment variables)
CLOUDINARY_URL=cloudinary://252478965232864:_FcN5HP1sPbv4QFNqb-zg6jUQ2M@dykq0fioe
CLOUDINARY_CLOUD_NAME=dykq0fioe
CLOUDINARY_API_KEY=252478965232864
CLOUDINARY_API_SECRET=_FcN5HP1sPbv4QFNqb-zg6jUQ2M
